.App {
  font-family: sans-serif;
  text-align: center;
}
.accordion-menu {
  padding: 1rem;
  width: fit-content;
  color: white;
  font-size: large;
}

.accordion-item {
  height: fit-content;
  width: 600px;
  max-width: 600px;
  margin: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.accordion-item--header {
  height: 50px;
  padding: 0.5rem;
  background: rgb(91, 89, 91);
}

.accordion-item--body {
  height: 0px;
  transition: height 0.25s;
  overflow: hidden;
  background: rgb(8, 7, 8);
}

.accordion-item--body.open {
  height: 100px;
}

